:root {
  --light-cream: #f2f2f2;
  --black-600: #5c5c5c;
  --primary-blue:#2f6ce5;
  --black-900:#2E2E2E;
}
.navbar{
  padding-top: 16px !important;
  padding-bottom: 14px !important;
}
.max-w-container {
  width: 100%;
  max-width: 1296px;
  margin-inline: auto;
}
.search-input-box {
  width: 360px;
  background-color: var(--light-cream);
  height: 42px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  padding: 10px 68px 10px 14px;
  border-radius: 21px;
}
.search-input-box input {
  background-color: transparent;
  border: none;
  color: var(--black-600);
  outline: 0 !important;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.search-input-box input:focus {
  background-color: transparent;
  border: 0 !important;
  outline: 0 !important;
}
.search-input-box input::placeholder {
  color: var(--black-600);

}
.authenticatedUserName{
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

.create-account-btn{
    color: var(--black-900);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.create-account-btn span{
    color: var(--primary-blue);
}