:root {
  --header-bg-color: #effff4;
  --header-text-color: #008a45;
  --font-plex: "IBM Plex Sans", sans-serif;
  --pure-black: #000000;
  --primary-blue: #2f6ce5;
  --input-border: #d9d9db;
  --input-bg: #f7f8fa;
  --placeholdter-text: #8a8a8a;
}

.modal-content {
  border-radius: 8px !important;
}

.modal-header {
  color: var(--header-text-color) !important;
  background-color: var(--header-bg-color) !important;
  max-height: 50px !important;
  text-align: center !important;
  font-family: var(--font-plex);
  font-size: 14px;
  font-weight: 600;
  border: none !important;
}
.modal-body{
    padding: 36px !important;
}

.signup-title {
  font-family: var(--font-plex);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.form-group-input {
  max-width: 100%;
  border-radius: 2px;
  margin-bottom: 19px;
}
.form-group-input input {
  padding: 15px 12px;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  outline: 0 !important;
  font-size: 15px;
  font-family: var(--font-plex);
  font-weight: 500;
}
.form-group-input input:focus {
  outline: 0 !important;
}
.form-group-input input::placeholder {
  font-size: 15px;
  font-family: var(--font-plex);
  color: var(--placeholdter-text);
}
.form-subheading {
  font-family: var(--font-plex);
  margin-bottom: 24px;
  font-size: 13px;
}
.form-subheading span {
  font-family: var(--font-plex);
  font-size: 13px;
  color: var(--primary-blue);
  font-weight: 600;
}
.form-footer-text {
  font-family: var(--font-plex);
  font-size: 11px;
  color: var(--pure-black);
  opacity: 60%;
}
.password-field{
    position: relative;

}
.visible-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}
.visible-btn svg{
    background-color: transparent !important;
}

.form-button-group{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.social-buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.create-btn{
    padding: 12px 14px;
    font-size: 14px;
    font-family: var(--font-plex);
    font-weight: 600;
    border-radius: 24px;
    background-color: var(--primary-blue);
    color: #ffffff;
    width: 100%;
    border:0;
    outline:0;
}
.facbook-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px 14px;
    width: 100%;
    border: 1px solid #D9D9DB;
    border-radius: 8px;
    background-color: transparent;

}
.google-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px 14px;
    width: 100%;
    border: 1px solid #D9D9DB;
    border-radius: 8px;
    background-color: transparent;

}

.authImage{

    width: 100%;
    object-fit: cover;
}

/* utils */
.cursor-pointer{
    cursor: pointer !important;
}
.btn-close{
    position: relative;
    right: -10px;
}